@model Service.Category

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Tag Name</label>
                <input asp-for="TagName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Active</label>
                <select asp-for="Active" name="active" id="checkActive">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Create Date</label>
                <input asp-for="CreatedDate" type="date" name="dobCreate" value="dobCreate" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Update Date</label>
                <input asp-for="UpdatedDate" type="date" name="dobUpdate" value="dobUpdate" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}