<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RMS.Web</title> 
    <link rel="stylesheet" href="~/css/font-awesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/feather-icon.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" /> 
</head>
<body>  
         
     
            @RenderBody() 

         
    
    <script src="~/js/jquery-3.5.1.min.js" asp-append-version="true"></script>
    <script src="~/js/feather.min.js" asp-append-version="true"></script>
    <script src="~/js/feather-icon.js" asp-append-version="true"></script> 
    <script src="~/js/custom.js" asp-append-version="true"></script> 
    <script src="~/js/script.js" asp-append-version="true"></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
