@model RMS.Utility.Models.ViewModels.UserVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h3>Add Users</h3>
                </div>
                <div class="col-12 col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active"> Add</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

<div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                 
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header pb-0">
                        <h5>Add Users</h5><span>Welcome, click here to see your <a asp-controller="User" asp-action="List">users</a> list.</span>
                      </div>
                      <div class="card-body">
                        @if (ViewBag.success != null)
                        {       
                             <div class="alert alert-success">
                                    <strong>@ViewBag.success</strong>
                        </div>  
                        }
                        @if (ViewBag.update != null)
                        {
                            <div class="alert alert-info">
                                    <strong>@ViewBag.update</strong>
                        </div> 
                        }

                        @if (ViewBag.delete != null)
                        {
                                <div class="alert alert-danger">
                                    <strong>@ViewBag.delete</strong>
                                </div> 
                        }

                        @if (ViewBag.failed != null)
                        {
                                <div class="alert alert-warning">
                                    <strong>@ViewBag.failed</strong>
                                </div> 
                        }

                        <form class="theme-form" asp-action="Index" enctype="multipart/form-data">
                            <input asp-for="UserId" type="hidden" id="UserId" name="UserId" />
                          <div class="mb-3 row">
                            <label asp-for="Name" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                              <input class="form-control" asp-for="Name" id="Name" type="text" placeholder="Enter Full Name" required>
                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label asp-for="Email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                              <input class="form-control" asp-for="Email" id="Email" type="email" placeholder="Enter Email Address" required>
                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label asp-for="PhoneNumber" class="col-sm-3 col-form-label">PhoneNumber</label>
                            <div class="col-sm-9">
                              <input class="form-control" asp-for="PhoneNumber" id="PhoneNumber" type="tel" placeholder="Enter Phone Number" required>
                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label asp-for="Address" class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                              <input class="form-control" asp-for="Address" id="Address" type="text" placeholder="Enter Full Address" required>
                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label asp-for="ProfilePic" class="col-sm-3 col-form-label">ProfilePic</label>
                            <div class="col-sm-9">
                              <input class="form-control" asp-for="ProfilePic" id="ProfilePic" type="file">
                            </div>
                          </div>
                           <div class="mb-3 row">
                            <label asp-for="File" class="col-sm-3 col-form-label">Files</label>
                            <div class="col-sm-9">
                              <input class="form-control" asp-for="File" id="File" type="file" multiple>
                            </div>
                          </div>

                          <div class="card-footer">
                                    
                                        <button id="btnSubmit" type="submit" class="btn btn-danger">
                                           @if (Model.UserId == Guid.Empty)
                                        {
                                            <span>Submit</span>
                                        }
                                        else
                                        {
                                            <span>Update</span>
                                        }
                                    </button>
                                </div>
                          
                        </form>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div> 